<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule ^(.*)$ public/$1 [L]
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-Proto} !https
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

AddType application/x-httpd-cgi .cgi .pl
AddHandler php4-script .php4
AddType application/x-httpd-php .php5