AddDefaultCharset utf8

RewriteEngine on
RewriteCond %{HTTPS} !^on
RewriteRule ^(.*)$ public/$1 [L]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

AddType application/x-httpd-cgi .cgi .pl
AddHandler php4-script .php4
AddType application/x-httpd-php .php5